@import url(https://fonts.googleapis.com/css?family=Open+Sans);
:root{
    --boja_teksta: rgb(218, 218, 218);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.pozadina {
  background-color: #21D4FD;
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

/* pocetna */
#pocetna{
    height: 100vh;
}
nav {
    width: 100%;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%,
  #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    margin: -6px auto;
}

nav ul {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, 
    rgba(255, 255, 255, 0.2)  25%, rgba(255, 255, 255, 0.2) 75%,
    rgba(255, 255, 255, 0)100%);
    /* div senka */
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),0 0 1px 
    rgba(255, 255, 255, 0.6);
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 18px;
    font-family: "Open Sans";
    text-transform:uppercase;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    text-decoration: none;
    display: block;
}

nav ul li a:hover {
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 35, 122, 0.7);
}
.pre-footer{
    position: absolute;
    width: 100%;
    bottom: 0%;
    /* ovo je kopirano sa stack overflow-a */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.tekst{
    text-align: center;
}
.animacija>h1{
    font-size: 3em;
    animation: na-gore 1.4s ease;
    color: var(--boja_teksta);
}
.animacija>h2{
    font-size: 1.8em;
    text-shadow: darkmagenta 1px 1px 1px;
    animation: na-gore 2s ease;
    color: blueviolet;
}
.animacija>h3{
    font-size: 1.4em;
    padding: 0.3em;
    animation: na-gore 2.4s ease;
    color: rgb(13, 10, 186);
}
.animacija>button{
    margin-top: 1em;
    padding: 1em 2.5em;
    font-size: 1em;
    border-radius: 4em;
    border: none;
    background: rgb(110, 78, 255);
    animation: na-gore 2.6s ease;
    cursor: pointer;
}
button>a{
    text-decoration: none;
    color: whitesmoke;
}

.sve{
    width: 90%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
}

@keyframes na-gore{
    0%{
        transform:translatey(250px);
    }
    100%{
        transform:translatey(0);
    }
}

@media screen and (max-width: 576px){
    nav ul li{
        display: block;
    }
    nav ul li a{
        padding: 10px;
        font-size: 14px;
    }

}

/* o meni */

#o_meni{
    height: 150vh;
}
.covek{
    position: absolute;
    width: 50%;
    top: 3.4em;
    margin: 15% 25%;
    z-index: 3;
    border-radius: 10em;
}
.banner{
    width: 100%;
    position: absolute;
    top: 3.4em;
}
.text-container{
    display: flex;
    margin: 50% auto;
    width: 94%;
}
.text2{
    margin-left: 3%;
}
.text,
.text2{
    background: rgba(232, 232, 232, 0.57);
}
.pre-footer2{
    position: absolute;
    width: 100%;
    top: 150;
    transform: translateY(-100%);
    /* ovo je kopirano sa stack overflow-a da korisnik ne moze selektovati sliku */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
@media screen and (max-width: 576px){
    .banner,
    .covek{
        top: 9.4em;
    }
    .text-container{
        margin: 60% auto;
        flex-direction: column;
        font-size: 14px;
    }
    .text2{
        margin: 5% 0;
    }
}
    /* moji radovi */

#moji_radovi{
    height: 100vh;
}

.red{
    width: 90%;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}
.rad{
    width: 100%;
}
.radovi{
    color: white;
    font-size: 2em;
    width: 70%;
}
.naslov{
    text-align: center;
    color: white;
    margin-top: 40px;
    text-shadow: rgb(255, 0, 0) 0px 0px 50px;
}

@media screen and (min-width: 576px) {
    .rad{
        width: 100%;
        margin-top: -8%;
    }
    .rad2{
        margin: -8% 20px;
    }
}

@media screen and (max-width: 576px) {
    .red{
        margin-top: -20%;
        flex-direction: column;
        width: 70%;
    }
    a>img{
        width: 100%;
    }
    #moji_radovi{
        height: 150vh;
    }
    .pre-footer6{
        top: 150%;
        transform: translateY(-100%);
    }
}
@media screen and (max-height: 600px) {
    .red{
        width: 80%;
        margin-top: -25px;
    }
}
/* kontaktirajte me  */

#kontaktirajte_me{
    height: 100vh;
}
.forma {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    margin: 0 auto;
    width: 70%;
    border-radius: 7px;
    padding: 20px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(111, 108, 108);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=submit] {
    background-color: #1145c7;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #5645f7;
}
.d-mreze{
    color: #0038c7;
    margin: -3px 5px;
    float: right;
    font-size: 30px;
}
@media screen and (max-width: 576px) {
    .forma{
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%);
    }
}